#product-list {
  /* Element styles */
  * {
    box-sizing: border-box;
    background: #f7f7f7;
    margin-top: 0;
  }

  .App {
    text-align: center;
  }

  ul {
    list-style-type: none;
    -moz-padding-start: 0;
    -webkit-padding-start: 0;
    margin-left: 0;
  }

  a {
    text-decoration: none;
    cursor: pointer;
  }

  a:hover {
    color: #8b0000;
  }


  /* itemHeader */
  .header {
    color: #333;
  }

  .headerTitle {
    font-size: 4vw;
    padding-top: 7.5vw;
    margin-bottom: 2.6vw;
  }

  .headerContent {
    font-size: 2vw;
    line-height: 1.4em;
  }

  /* ItemMenu */
  .itemSorting {
    display: flex;
  }

  /* Item Index */
  .itemIndex {
    display: flex;
    justify-content: flex-end;
    font-size: 1vw;
    border-bottom: 1px solid #e8e8e8;
    padding-bottom: 1vw;
  }

  .itemIndex > a{
    margin-left: 1vw;
    font-size: 1.8vw;
  }

  /* Item List */
  .itemList {
    padding-bottom: 2vw;
  }

  .itemList > div {
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
  }

  .itemDirection {
    display: flex;
    flex-flow: row wrap;
  }

  .itemSet {
    background: white;
    border: 1px solid #f1f1f1;
    width: 50%;
  }

  .itemPhoto {
    width: 100%;
  }

  .itemSet > p {
    display: flex;
    justify-content: flex-start;
    margin-left: 0.8vw;
    margin-bottom: 1vw;
    background: white;
    font-size: 2.5vw;
  }

  .itemName {
    color: #393939;
  }

  .itemPrice {
    color: red;
  }


  @media screen and (max-width: 767px) and (min-width: 414px) {

    /* Item Index */
    .itemIndex > a{
      font-size: 1.5vw;
    }

    /* Item List */
    .itemSet {
      width: 33.3%;
    }

    .itemSet > p {
      font-size: 2.1vw;
    }

    /* itemHeader */
    .headerTitle {
      font-size: 3.2vw;
    }

    .headerContent {
      font-size: 1.6vw;
    }
  }

  @media screen and (max-width: 1023px) and (min-width: 768px) {
    /* Item Index */
    .itemIndex > a{
      font-size: 1.4vw;
    }

    /* Item List */
    .itemSet {
      width: 25%;
    }

    .itemList > div {
      width: 85%;
      margin-left: 7.5%;
      margin-right: 7.5%;
    }

    .itemSet > p {
      font-size: 1.5vw;
    }

    /* itemHeader */
    .headerTitle {
      font-size: 3.4vw;
    }

    .headerContent {
      font-size: 1.4vw;
    }
  }

  @media screen and (max-width: 1366px) and (min-width: 1024px) {
    /* Item Index */
    .itemIndex > a{
      font-size: 1.2vw;
    }

    /* Item List */
    .itemSet {
      width: 25%;
    }

    .itemList > div {
      width: 80%;
      margin-left: 10%;
      margin-right: 10%;
    }

    .itemSet > p {
      font-size: 1.2vw;
    }

    /* itemHeader */
    .headerTitle {
      font-size: 3.6vw;
    }

    .headerContent {
      font-size: 1.5vw;
    }
  }

  @media screen and (min-width: 1367px) {
    /* Item Index */
    .itemIndex > a{
      font-size: 1.1vw;
    }

    /* Item List */
    .itemSet {
      width: 25%;
    }

    .itemList > div {
      width: 70%;
      margin-left: 15%;
      margin-right: 15%;
    }

    .itemSet > p {
      font-size: 1.1vw;
    }

    /* itemHeader */
    .headerTitle {
      font-size: 3vw;
    }

    .headerContent {
      font-size: 1.4vw;
    }
  }
}




